{% extends 'base.html' %}
{% load static %}

{% block body  %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="margin-left: 30%;">


        <form action="{% url 'goals' %}" method="post">
        {% csrf_token %}
    
            <h1 style=" margin-top: 7%;">🛒Have a Wish to Buy something?✨</h1>
            <h3 style=" margin-top: 5%; text-align: center;">Calculate here the Number of Days⌛ in which you will be able to buy it with your Daily Savings!✅</h3>
            
            <label for="wishlist" style="position: relative; left: 30%; padding-top: 2%; font-size: larger;"><b>Wish:</b></label><br>
            <input type="text" style="position: relative; left: 30%; border: 5px solid rgb(47, 255, 227); width: 300px;" name="wish" id="" autocomplete="off"><br>
            <label for="wishlist" style="position: relative; left: 30%; padding-top: 2%; font-size: larger;"><b>Cost:</b></label><br>
            <input type="text" style="position: relative; left: 30%; border: 5px solid rgb(47, 255, 227); width: 300px;" name="exp" id="" autocomplete="off"><br>
            <button class="btn btn-lg btn-primary" style="position: relative; left: 40%; margin-top: 3%;">CALCULATE</button>
        
        </form>

    </div>
  </div>
</div>

<div class="container-fluid" style="margin-left: 14%; padding-right: 14%;">

{% if wishes %}
<h1 style=" margin-top: 3%;" id="ws">✔You will be able to Buy {{ws}} within {{a}} days with your per day savings of Rs {{pdsv}}.</h1>
{% endif %}


</div>

<script type="text/javascript">
  // close the div in 5 secs
  window.setTimeout("closeHelpDiv();", 10000);
  
  function closeHelpDiv(){
  document.getElementById("ws").style.display=" none";
  }
</script>










{% endblock  %}